@import "utils/variables";
@import "components/common";

@import "components/colleagues";
@import "components/colleague-socials";
@import "portfolio/portfolio-btn";
@import "portfolio/portfolio-links";
@import "components/clients-list";
@import "components/modal";
@import "components/modal-form";
@import "components/checkbox";

/* header */
.phonesvg {
  margin-right: 10px;
  align-items: center;
  fill: currentColor;
  transition-property: fill;
}

.phonesvg:hover,
.phonesvg:focus {
  fill: currentColor;
  transition: $transition;
}

.head {
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.header-color {
  background: $main-background-color;
  border-bottom: 1px solid $line-color;
  width: 100%;
}

/*logo*/
.web-color {
  color: $text-color-lightblue;
}
.studio-color {
  color: $text-color-black;
  margin-right: 93px;
}
.text-decor {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
}
.nav-top {
  display: flex;
  align-items: center;
}

.nav-links {
  display: flex;
  align-items: center;
}
.nav-links .head-items {
  margin-right: 50px;
}
.nav-links .head-items:last-child {
  margin-right: 0;
}

/* contacts */
.phone-color {
  color: $text-color-grey;
  text-decoration: none;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: $transition;
  transition-property: color, fill;
}
.phone-color:hover,
.phone-color:focus {
  color: $text-color-lightblue;
  fill: currentColor;
  transition: $transition;
}

.links {
  position: relative;
  color: $text-color-dark;
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: $transition;
  transition-property: fill, color, opacity;
}
.links::after {
  content: "";

  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: $text-color-lightblue;

  transition: $transition;
  opacity: 0;
}
.current.links::after,
.links:hover::after {
  transition: $transition;
  opacity: 1;
}
.links:hover,
.links:focus {
  color: $text-color-lightblue;
  fill: currentColor;
  transition: $transition;
}

/* footer */
.foter-section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $dark-background-color;
}

.flex {
  display: flex;
  align-items: baseline;
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  color: $main-background-color;
  text-decoration: none;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  display: block;
  margin-bottom: 20px;
}
.footer-web {
  color: $text-color-lightblue;
}

.address-decor {
  color: $main-background-color;
  font-style: normal;
  margin-bottom: 9px;
}

.footer-mail,
.footer-phone {
  text-decoration: none;
  color: $text-color-grey-through;
  transition: $transition;
  transition-property: color;
}

.footer-mail:hover,
.footer-mail:focus {
  color: $text-color-lightblue;
  transition: $transition;
  transition-property: color;
}

.footer-phone:hover,
.footer-phone:focus {
  color: $text-color-lightblue;
  transition: $transition;
}

.footer-contakt {
  margin-bottom: 9px;
}
/* footer socials*/
.content-space {
  margin-right: 70px;
}
.footer-title {
  height: 16px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $main-background-color;
  margin-bottom: 20px;
}
.footer-link-flow {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  margin-right: 10px;
  transition: $transition;
  transition-property: background-color;
}

.footer-link-flow:hover,
.footerlinks:focus {
  background-color: $blue-light-color;
  transition: $transition;
}
.footer-link-flow:last-child {
  margin-right: 0;
}
.footerlinks {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: $transition;
  transition-property: background-color;
}
.footer-position {
  display: block;
  margin-right: auto;
}
.position-services {
  display: flex;
  justify-content: center;
}
.labeltitle {
  display: inline-block;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $main-background-color;
  margin-bottom: 20px;
}
.dimentions {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: $main-background-color;
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  padding-left: 12px;
  outline: transparent;
}

.dimentions:focus {
  border: 1px solid rgba(33, 150, 243, 0.9);
  border-radius: 4px;
}

.form-path {
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.subscribe {
  display: flex;
  align-items: center;
  justify-content: center;
}
.plane {
  fill: $main-background-color;
  margin-left: 10px;
}

/* what do we do 
.whatwedo {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  margin-bottom: 50px;
}
.what-we-do-list {
  display: flex;
}
.pic-list {
  width: 370px;
  height: 294px;
  margin-right: 30px;
}
.pic-list:last-child {
  margin-right: 0;
}

.specifics-pocition {
  position: relative;
}

.specifics-place {
  position: absolute;
  display: flex;
  width: 100%;
  height: 70px;
  bottom: 0;
  align-items: center;
  justify-content: center;
  background: rgba(47, 48, 58, 0.8);
}
.specifics {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $main-background-color;
}

/*  our colleagues  
.names {
  font-weight: 500;
  text-align: center;
  margin-bottom: 10px;
}
.occupation {
  color: $text-color-grey;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin-bottom: 16px;
}
.name-ocupation {
  padding-top: 30px;
  padding-bottom: 30px;
}

.colleagues-list {
  width: 270px;
  height: 428px;
  margin-right: 30px;
}
.colleagues-list:last-child {
  margin-right: 0;
}
.shadow {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
*/
